*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  background: radial-gradient(ellipse at center, #000000 0%, #141e30 100%);
  color: #fff;
}
header{
  background: linear-gradient(to right, #000000, #232323);
  color: #fff;
  padding: 20px;
}
h1{
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
main{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
section{
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
h2{
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p{
  line-height: 1.6;
  color: #ccc;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container img{
  max-width: 100%;
  max-height: 100%;
}
img{
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
  border-radius: 25px;
}
ul{
  list-style-type: disc;
  padding-left: 20px;
}
canvas{
  border: 1px solid #fff;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
#facts-list a{
  text-decoration: none;
  color: white
}
#facts-list a:hover{
  text-decoration: underline;
}
#ic1101 h4{
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
#ic1101 h3 i{
  text-decoration: underline;
  color: bisque;
}
#ic1101 a{
  text-decoration: none;
  color: white;
}
#ic1101 a:hover{
  text-decoration: underline;
}
#holes h4{
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
#holes h3 i{
  text-decoration: underline;
  color: bisque;
}
#holes a{
  text-decoration: none;
  color: white;
}
#holes a:hover{
  text-decoration: underline;
}
#NS a{
  text-decoration: none;
  color: white;
}
#NS a:hover{
  text-decoration: underline;
}